<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/group_management" class="nav-link px-2 text-secondary">Керувати групами</a></li>
             <li><a href="/logout" class="nav-link px-2 text-secondary">Вийти</a></li>
            <li><a href="/login" class="btn btn-warning">Увійти</a></li>
            <li><a href="/signup" class="nav-link px-2 text-secondary">Зареєструватись</a></li>
        </ul>


      </div>
{% block content %}

{% endblock %}
</body>
</html>